---
layout: default
title: Feedbin Blog
class: home
---

{% for page in paginator.posts %}	
<article>
	<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	<p class="page-meta">
		by <a href="{{ page.author_link }}">{{ page.author }}</a>
		<br /><time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %d, %Y" }}</time>
	</p>
	{{ page.content }}
</article>
{% endfor %}

<div class="clearfix">
	<div class="half">
		<p>
		    {% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a href="/">Newer</a>
				{% else %}
					<a href="/page{{paginator.previous_page}}">Newer</a>
				{% endif %}
			{% endif %}
		</p>
	</div>
	<div class="half right-text">
		<p>
		    {% if paginator.next_page %}
		      <a href="/page{{paginator.next_page}}">Older</a>
		    {% endif %}
		</p>
	</div>
</div>