/*----------------------------------------------
  Reset
----------------------------------------------*/
*,*:before,*:after {
  box-sizing: border-box;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display: block;
}
body {
	line-height: 1;
}
ol,ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,blockquote:after,
q:before,q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------------------------------------
  HTML
----------------------------------------------*/
body {
	background-color: #efefef;
	padding: 20px 20px 1px 20px;
	margin: 0;
	color: #333;
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
}

a:link,a:visited {
	text-decoration: none;
	outline: none;
	color: #3399ff;
}

a:hover {
	color: #005580;
}

em, cite {
	font-style: normal;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 1em;
}

h1 {
	font-size: 40px;
	margin-bottom: 5px;
	font-weight: 300;
	line-height: 1.2;
}

h1 a,
h1 a:link,
h1 a:visited {
	color: #333;
}

h1 a:hover {
	color: #333;
	text-decoration: underline;
}

h2 {
	font-size: 18px;
}

img {
	margin: 0 0 10px 0;
	display: block;
	width: 100%;
	max-width: 100%;
}

.content img {
	border: 2px solid #666666;
}

img.no-border {
	border: none;
}

table {
	@extend .table;
	@extend .table-bordered;
}

code {
	color: #333;
}

pre code {
	display: block;
	background-color: whiteSmoke;
	overflow-x: scroll;
	white-space: pre;
	word-wrap: normal;
}

code, pre {
	font-family: Consolas, Monaco, monospace;
}

blockquote p {
	color: #666;
}

blockquote {
	padding: 0 0 0 20px;
	border-left: 5px solid #CCC;
}

p,
ul,
ol,
pre {
	margin: 0 0 16px 0;
}

li {
	margin-left: 20px;
	list-style-type: disc;
}

code {
	font-family: Consolas, monospace;
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	white-space: nowrap;
}

/*----------------------------------------------
  Layout
----------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.half {
	width: 50%;
	float: left;
}
/*----------------------------------------------
  Structure
----------------------------------------------*/

.logo {
	max-width: 167px;
	margin: 30px 0;
}

.container {
	width: 100%;
	max-width: 960px;
}

.content-wrap {
	float: left;
	width: 74.226804123711%;
}

.sidebar {
	float: right;
	width: 22.680412371134%;
}

header {
	display: none;
}

header article {
	padding-top: 8px;
	padding-bottom: 1px;
	margin: 0;
	text-align: center;
}

header .logo {
	margin: 0 auto 8px auto;
	max-width: 120px;
}

header {
	font-size: 14px;
}

header p {
	margin-bottom: 8px;
}

header ul {
	margin: 0 !important;
	text-align: center !important;
}
header ul li,
header ul li a,
header ul li a:before {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
	background: none !important;
}


.main-content {
	background-color: #FFF;
}

.main-content:first-child {
	border-top: none;
}

article {
	max-width: 620px;
	padding: 50px 15px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.sidebar h4 {
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px solid #CCC;
	margin-bottom: 15px;
	padding-bottom: 8px;
}

.sidebar p, .sidebar li {
	font-size: 16px;
	color: #666666;
}

.pager-wrap {
	border-top: 1px solid #efefef;
	padding-top: 15px;
}

.pager {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
	overflow: hidden;
}

.pager li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 50%;
	float: left;
}

.pager .next {
	text-align: right;
}

/*----------------------------------------------
  Helpers
----------------------------------------------*/
.right-text {
	text-align: right;
}

.por {
	position: relative;
}

.page-meta {
	font-size: 15px;
	line-height: 1.4;
	color: #999;
	margin-bottom: 15px;
}

@media (max-width: 700px) {
	article {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.content-wrap {
		float: none;
		width: 100%;
	}

	.sidebar {
		display: none;
	}

	header {
		display: block;
	}

	code {
		padding: 0;
		border: none;
		margin: 0;
		display: inline;
		word-break: break-all;
	}
}

/*----------------------------------------------
  Icons
----------------------------------------------*/
.sidebar-icon {
	margin: 0;
	list-style-type: none;
	margin-bottom: 10px;
}

.sidebar-icon a {
	display: block;
	position: relative;
	padding-left: 40px;
	list-style-type: none;
	line-height: 30px;
}

.sidebar-icon a:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 30px;
	width: 30px;
	border-radius: 4px;
	background-color: #666666;
	content: "";
}

.icon-twitter a:before, .icon-email a:before, .icon-rss a:before, .icon-github a:before, .icon-archive a:before {
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.icon-twitter a:before {
	background-image: url(/assets/images/icon-twitter.svg);
}

.icon-email a:before {
	background-image: url(/assets/images/icon-email.svg);
}

.icon-rss a:before {
	background-image: url(/assets/images/icon-rss.svg);
}

.icon-github a:before {
	background-image: url(/assets/images/icon-github.svg);
}

.icon-archive a:before {
	background-image: url(/assets/images/icon-archive.svg);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.nav {
		padding-top: 6px;
	}
}

@media (max-width: 540px) {
	body {
		padding: 0;
		font-size: 18px;
	}
	h1 {
		font-size: 26px;
	}
	img {
		border-width: 2px;
	}
	.page-meta {
		font-size: 16px;
	}
	.logo {
		width: 140px;
		height: 30px;
		background-size: 140px 30px !important;
	}
	footer p {
		margin-bottom: 5px;
	}
	footer .right-text {
		text-align: left;
	}
	footer .half {
		float: none;
		width: auto;
	}
}

/*--[ Highlight ]--*/
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/*----------------------------------------------
  Post 2013-03-20-feedbin-mobile.md
----------------------------------------------*/
.feedbin-mobile-screenshot {
	max-width: 320px;
}

