/*----------------------------------------------
  Reset
----------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display: block;
}
body {
	line-height: 1;
}
ol,ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,blockquote:after,
q:before,q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	
/*----------------------------------------------
  Fonts
----------------------------------------------*/
@font-face {
    font-family: 'Open Sans Light';
    src: url('/assets/fonts/OpenSans-Light.eot');
    src: url('/assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Light.woff') format('woff'),
         url('/assets/fonts/OpenSans-Light.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Light.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light Italic';
    src: url('/assets/fonts/OpenSans-LightItalic.eot');
    src: url('/assets/fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-LightItalic.woff') format('woff'),
         url('/assets/fonts/OpenSans-LightItalic.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('/assets/fonts/OpenSans-Regular.eot');
    src: url('/assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Regular.woff') format('woff'),
         url('/assets/fonts/OpenSans-Regular.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Regular.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('/assets/fonts/OpenSans-Semibold.eot');
    src: url('/assets/fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Semibold.woff') format('woff'),
         url('/assets/fonts/OpenSans-Semibold.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

	
/*----------------------------------------------
  HTML
----------------------------------------------*/
body {
	background-color: #eaeaea;
	padding: 0;
	margin: 0;
	color: #333;
	font-size: 16px;
	font-family: "Open Sans Regular";
	line-height: 1.4;
	-webkit-text-size-adjust: 100%;
}

a:link,a:visited {
	text-decoration: none;
	outline: none;
	color: #08C;
}

a:hover {
	color: #005580;
}

em, cite {
	font-style: normal;
	font-family: "Open Sans Light Italic", sans-serif;
}

strong {
	font-weight: normal;
	font-family: "Open Sans Semibold", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: "Open Sans Semibold", sans-serif;
	font-weight: 400;
	margin-bottom: 1em;
}

h1 {
	font-size: 22px;
	margin-bottom: 5px;
}

h2 {
	font-size: 18px;
}
	
img {
	padding: 3px;
	border-radius: 3px;
	margin: 0 0 10px 0;
	display: block;
	width: 100%;
	max-width: 100%;
	border: 1px solid #e2e2e2;
}

table {
	@extend .table;
	@extend .table-bordered;
}

code {
	color: #333;
}
		
pre code {
	display: block;
	background-color: whiteSmoke;
	overflow-x: scroll;
	white-space: pre;
	word-wrap: normal;
}
	
code, pre {
	font-family: Consolas, Monaco, monospace;
}
	
blockquote p {
	font-size: 14px;
	color: #666;
	line-height: 20px;
	font-weight: 400;
}

p,
ul,
ol,
pre {
	margin: 0 0 16px 0;
}

li {
	margin-left: 20px;
	list-style-type: disc;
}

time {
	color: #999;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 15px;
}

code {
	font-family: Consolas, monospace;
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	white-space: nowrap;
}

/*----------------------------------------------
  Layout
----------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.half {
	width: 50%;
	float: left;
}
/*----------------------------------------------
  Structure
----------------------------------------------*/
.logo {
	height: 26px;
	width: 135px;
	background: url(/assets/images/logo.png) 0 0 no-repeat;
	background-size: 135px 26px;
	display: block;
}

.nav {
	padding-top: 10px;
	text-align: right;
	margin: 0;
	color: #999;
}

.nav li {
	display: inline;
	padding: 0 0 0 3px;
	margin: 0;
}

.nav li a {
	padding-left: 3px;
}

.nav li:before {
	color: #999;
	content: "|";
}

.nav li:first-child:before {
	content: "";
}

.container {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
}

.content {
	padding: 20px 20px 10px 20px;
	border: 1px solid transparent;
}

.main-content {
	background-color: #FFF;
	border-color: #DDD;
}

.home article {
	border-bottom: 1px solid #DDD;
	margin-bottom: 15px;
}

footer {
	color: #999;
	font-size: 13px;
}
/*----------------------------------------------
  Helpers
----------------------------------------------*/
.right-text {
	text-align: right;
}

.por {
	position: relative;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.nav {
		padding-top: 6px;
	}
}

@media (max-width: 540px) {
	footer p {
		margin-bottom: 5px;
	}
	footer .right-text {
		text-align: left;
	}
	footer .half {
		float: none;
		width: auto;
	}
}

@media (max-width: 320px) {
	body {
		margin: 0 10px;
	}
	.container {
		width: 100%;
	}
	.content {
		padding: 10px;
	}
}

/*----------------------------------------------
  Post 2013-03-20-feedbin-mobile.md
----------------------------------------------*/
.feedbin-mobile-screenshot {
	max-width: 320px;
}