<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<title>{{ page.title }}</title>
	<link rel="alternate" type="application/atom+xml" title="Feedbin Blog" href="{{ site.domain }}/atom.xml" />
	<link rel="stylesheet" href="/assets/stylesheets/css.css?{{ site.time | date: "%Y%m%d%H%M%S" }}" />
</head>
<body class="{{ page.class }}">
	<div class="container">
		<div class="content-wrap">
			<header>
				<article>
					<a href="/"><img src="/assets/images/logo.svg" class="logo" /></a>
					<p>A fast, simple RSS reader that delivers a great reading experience. <a href="https://feedbin.me">14-Day Free Trial</a>.</p>
					<p>
						<a href="/archive/">Archive</a> |
						<a href="{{ site.domain }}/atom.xml" onclick="var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z); return false;">Subscribe</a> |
						<a href="https://twitter.com/feedbin">Twitter</a>
					</p>
				</article>
			</header>
			{{ content }}
		</div>
		<div class="sidebar">
			<a href="/"><img src="/assets/images/logo.svg" class="logo" /></a>
			<h4>About</h4>
			<p>A fast, simple RSS reader that delivers a great reading experience.</p>
			<p><a href="https://feedbin.me">14-Day Free Trial</a></p>

			<h4>Follow Feedbin</h4>
			<ul>
				<li class="sidebar-icon icon-archive"><a href="/archive/">Archive</a></li>
				<li class="sidebar-icon icon-rss"><a href="{{ site.domain }}/atom.xml"  onclick="var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z); return false;">Subscribe</a></li>
				<li class="sidebar-icon icon-twitter"><a href="https://twitter.com/feedbin">Twitter</a></li>
				<li class="sidebar-icon icon-github"><a href="https://github.com/feedbin">GitHub</a></li>
			</ul>
		</div>
	</div>
	<script>
		var _gauges = _gauges || [];
		(function() { var t = document.createElement('script'); t.type = 'text/javascript'; t.async = true; t.id = 'gauges-tracker'; t.setAttribute('data-site-id', '51417db8108d7b6c720000a4'); t.src = '//secure.gaug.es/track.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(t, s); })();
	</script>
	</body>
</html>
