<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<title>{{ page.title }}</title>
	<link rel="alternate" type="application/atom+xml" title="Feedbin Blog" href="{{ site.domain }}/atom.xml" />
	<link rel="stylesheet" href="/assets/stylesheets/css.css?{{ site.time | date: "%Y%m%d%H%M%S" }}" />
</head>
<body class="{{ page.class }}">
	<div class="container ">
		<div class="content clearfix">
			<div class="half">
				<a href="https://feedbin.me" class="logo"></a>
			</div>
			<div class="half">
				<ul class="nav">
					<li><a href="/">Blog</a></li>
					<li><a href="/archive/">Archive</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="content main-content">
			{{ content }}
		</div>
	</div>
	<footer>
		<div class="container clearfix">
			<div class="content">
				<div class="half">
					<p><a href="https://github.com/feedbin/support#readme">Contact & Support</a> | <a href="https://twitter.com/feedbinapp">@feedbinapp</a></p>
				</div>
				<div class="half right-text">
					<p>© {{ site.time | date: "%Y" }} Feedbin, LLC</p>
				</div>
			</div>
		</div>
	</footer>
	<script>
		var _gauges = _gauges || [];
		(function() {
			var t   = document.createElement('script');
			t.type  = 'text/javascript';
			t.async = true;
			t.id    = 'gauges-tracker';
			t.setAttribute('data-site-id', '51417db8108d7b6c720000a4');
			t.src = '//secure.gaug.es/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
	</script>
	</body>
</html>
